.nav-bar a{
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: center;


}

header {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    padding: auto;
    width: 100%;
    
}